prometheus-operator:
  prometheus:
    prometheusSpec:
      replicas: 2
      externalLabels:
        region: local
        replica: a
      thanos:
        objectStorageConfig:
          key: store.yaml
          name: thanos-thanos-object-store

query:
  replicaCount: 2
  logLevel: info

store:
  replicaCount: 2
