prometheus-stack:
  prometheus:
    prometheusSpec:
      replicas: 2
      externalLabels:
        region: local
      thanos:
        objectStorageConfig:
          # this should be ${releaseName}-thanos-object-store
          name: thanos-thanos-object-store
          key: store.yaml

query:
  replicas: 2
  logLevel: info

store:
  replicas: 2
