prometheus-operator:
  prometheus:
    prometheusSpec:
      replicas: 2
      externalLabels:
        region: local
        replica: a
      thanos:
        objectStorageConfig:
          key: thanos.yaml
          name: thanos-objstore-config

query:
  replicaCount: 2
  logLevel: info

store:
  replicaCount: 2
