{{- if and .Values.sidecar.ingress.basename .Values.sidecar.ingress.domain }}
{{- $count := (index .Values "prometheus-stack" "prometheus" "prometheusSpec" "replicas" | int) }}
{{- $fullname := include "thanos.fullname" . }}
{{- $name := include "thanos.name" . }}
{{- $chart := include "thanos.chart" . }}
{{- $releaseName := .Release.Name }}
{{- $service := .Release.Service }}
{{- $annotations := .Values.sidecar.ingress.annotations }}
{{- $domain := .Values.sidecar.ingress.domain }}
{{- $basename := .Values.sidecar.ingress.basename }}
{{- range $replica := until $count }}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ $fullname }}-sidecar-{{ $replica }}
{{- with $annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
  labels:
    app.kubernetes.io/name: {{ $name }}
    helm.sh/chart: {{ $chart }}
    app.kubernetes.io/instance: {{ $releaseName }}
    app.kubernetes.io/managed-by: {{ $service }}
    app.kubernetes.io/component: sidecar
spec:
  rules:
  - host: "{{ $basename }}-{{ $replica }}.{{ $domain }}"
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ $fullname }}-sidecar-grpc-{{ $replica }}
          servicePort: 10901
{{- end -}}
{{- end }}
